extends md


###########################
# Daily Notes 
###########################
snippet daily  "Daily Notes" b
# `date +%Y-%m-%d\ `

## Week Goals:

### Work ( 70% )
- ${1}

### Personal ( 20% )
- ${2}

## Daily

### Yesterday 
- [ ] ${3: ...}

### Today
- [ ] ${4: ...}

### Blockers
- [ ] ${5: ...}

## Notes

endsnippet


