extends md


###########################
# Daily Notes 
###########################
snippet daily  "Daily Notes" b
# `date +%Y-%m-%d\ `

## Yesterday 
- [ ] ${1: ...item}

## Today
- [ ] ${2: ...item}

## Blockers
- [ ] ${3: ...item}

## Notes

endsnippet


