extends md


###########################
# Daily Notes 
###########################
snippet daily  "Daily Notes" b
# `date +%Y-%m-%d\ `

## Week Goals:

### Work ( 70% )
-  ${1}

### Personal ( 20% )
-  ${2}

## Daily Goals:

### Work ( 70% )
-  ${3: $1}

### Personal ( 20% )
-  ${4: $2}

## Daily

### Yesterday 
- [ ] ${6: ...}

### Today
- [ ] ${7: ...}

### Blockers
- [ ] ${8: ...}

## Notes

endsnippet


